<div id="content-wrapper">

	<div class='left-wrapper'>
		<div id="tree-container">
			<div class='hint'>
				Gebruik de pijltjestoetsen om te navigeren
			</div>
		</div>

		<div class='sub-content-wrapper'>
			<h2 id="info-title"></h2>
			<div id='placeholder-container'>
			</div>
		</div>
	</div>

<div class="summary-wrapper" >
	<div class="inner-wrapper">
		<h2 id="info-title" >Overzicht</h2>
		<div id="info-description">Hier komt een overzicht van alle informatie, met optie om deze te bewerken</div>
	</div>
</div>
</div>
