html, body {
	margin: 0;
	padding: 0;
}

* { outline: none; }

body {
	font-family: Helvetiva, Arial;
	background: #FFF;
}

h1, h2, h3 {
	font-family: "Helvetica Neue";
}

h1 {
	margin: 0 0 .5em;
	padding: 0;
    font-weight: 400;
}

.none { display: none; }

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pointer {
	cursor: pointer;
}

.header {
    height: 30px;
    background: #4A4A4A;
}

.container {
	padding: 10px 20px;
}

.item-list {
	display: flex;
	flex-flow: row wrap;
}

.item {
	flex: 1 1 auto;
	padding: 10px;
	margin: 10px;
	max-width: 320px;

	background: #FFF;
    border: 1px solid #CCC;
	box-shadow: 1px 1px 1px #EFEFEF;

	transition: border .2s linear;
}

.item:hover {
	border-color: #B5F1FF;
}