<div class="back-home">
	<a ng-link="['Home']">Back to list</a>
</div>

<h1>Refugee population by country of origin</h1>
<div id='button-wrapper' class="button-wrapper"></div>
<div id="chart-container"></div>

<div class='meta source'>Source: 
	<a href="http://data.worldbank.org/indicator/SM.POP.REFG.OR/" target="_blank">Worldbank, 2015</a>
</div>

<div ng-show="model.tooltipVisible">
	<tooltip tooltip-x-pos="model.tooltipXPos"
			tooltip-y-pos="model.tooltipYPos">
		<div ng-bind-html="model.tooltipContent"></div>
	</tooltip>
</div>
